    <br>
    <br>
    <br>
    <br>
    <br>
    	<div class="container">
    		<p><%= raw(@apblog.body) %></p>
    		<br>
        	
        	<br>
            <%= commontator_thread(@apblog) %>
        </div>
    <br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>