<div>
<br>
<br>
<br>
<br>
<br>
<!-- About Section -->
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b>ABOUT US</b></h2>
                </div>
            </div>
            <div class="container">
<p>The name: Babykaafo is a combination of an English and a Ga word. Ga is one of the languages spoken by the people of Ghana. Baby means baby or child, “Kaafo” means do not cry. Thus Babykaafo means “Baby don’t cry”</p>
<br>
<p>Babykaafo brings together a team of individuals, professionals and institutions passionate about life and especially life at the birth stage to solve one of the biggest challenges facing mothers in Ghana, Africa and the world. 
One of the most amazing privileges in this world is to be a mother and or a mother at heart. For it gives to us that awesome opportunity of holding, shaping and nurturing the souls who would tomorrow shape the world. </p>
<br>
<p>A vital need for the whole motherhood ship is information and knowledge. Every first mother and mother at heart needs critical knowledge as they trudge the road of raising souls and future promises. Access to information in our information age is “easy”. However, for the local mother, the African mother and most mothers at heart, the majority of information online is not only lacking in local content, but also recommends practices and procedures which at times are practically impossible to replicate or abide by within our given situation. </p>
<br>
<p>Babykaafo is the solution to this challenge. </p>
<br>
<p>Its core objective is the application of traditional, culturally relevant wisdom from pre pregnancy to five years. This objective is based upon the belief that people and children are born within a context. That is, within specific cultures and communities. For that reason any information or knowledge should be relevant, and applicable by the mothers and caregivers.</p>  
<br>
<p>Babykaafo in addition seeks to grow and encourage the baby industry in Ghana and Africa, by promoting the sales of made in Africa products for the Africans baby.</p>
<br>
<p>Again Babykaafo hopes to reintroduce and inculcate in the growing development of childcare in Ghana and Africa, the core humane values that as a country and continent we seem to be losing as a result of blind copying of western systems. These values include, respect for adults, community discipline of children etc.</p> 
<br>
<p>Babykaafo is targeted specifically at mothers and mothers at heart dealing with children from age zero to five.
Babykaafo answers a few important questions amongst others 
•   What do babies born in Ghana/Africa need?
•   What do mothers and care givers in Ghana/ Africa need?  
</p>
<br>
<h2 class="text-center">Team</h2>
<p>All the team members have one thing in common; they all love babies, mothers and care givers. Our team comprises mothers, grandmothers, women and men and professionals within the baby industry and sector. They span from nurses, pediatric doctors, midwifes, pharmacist, mothers, designers, legal professionals, etc.</p> 
<br>
<br>
<br>
<br>
            </div>
            <h1 class="text-center"><strong> THE TEAM </strong> </h1>
    <br>
    <div class="row" id="features">
                <div class="col-sm-4 feature">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">FOUNDER & CEO </h3>
                        </div><!-- end panel-heading -->
                        <%= image_tag("placeholder.png", class: "img-responsive img-thumbnail img-circle") %>
                        <!--<div alt="Bootstrap 3" class="img-circle"><%= image_tag "SelormAdafia.png" %></div>-->
                        <h4 class="text-muted text-center">NAME</h4>
                        <p class="text-muted text-center">CEO</p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/david.adafia" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/davidadafia" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/davidadafia" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>                       
                    </div><!-- end panel -->
                </div><!-- end feature -->

                 <div class="col-sm-4 feature">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">COO</h3>
                        </div><!-- end panel-heading -->
                        <%= image_tag("placeholder.png", class: "img-responsive img-thumbnail img-circle") %>
                        
                        <h4 class="text-muted text-center">NAME</h4>
                        <p class="text-muted text-center">OPERATIONS OFFICER</p>
                         <ul class="list-inline">
                             <li>
                                <a href="https://www.facebook.com/xtella.emepha?hc_ref=SEARCH" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/search?q=estella&src=typd" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/estellaemefa/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                        
                    </div><!-- end panel -->
                </div><!-- end feature -->

                <div class="col-sm-4 feature">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">CFO</h3>
                        </div><!-- end panel-heading -->
                        <%= image_tag("placeholder.png", class: "img-responsive img-thumbnail img-circle") %>
                        
                        <h4 class="text-muted text-center">NAME</h4>
                        <p class="text-muted text-center">FINANCE OFFICER</p>
                         <ul class="list-inline">
                             <li>
                                <a href="https://www.facebook.com/xtella.emepha?hc_ref=SEARCH" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/search?q=estella&src=typd" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/estellaemefa/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                        
                    </div><!-- end panel -->
                </div><!-- end feature -->
            </div>
        </div>
    </div>