<br>
<br>
<br>
<br>
<br>
    <div class="container">
     <h1 class="text-left"><strong> Welcome <% if current_user %><%= current_user.user_name %><% end %> </strong> </h1>
    <br>
    <h1 class="text-center"></h1>
    <div class="row" id="features">
    	    		<p><%= raw(@avideo.title) %></p>

    </div>
    
            </div>
    


